/* Footer.css */

.footer {
   
    background-color: #000; /* Black color */
    color: #fff; /* White color */
    margin-top: 20px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    width: 100%;
    align-items: center;
    
    height: 100%;
  }
  
  
  .footer-text {
    text-decoration: navy;
    color: #fff; /* White color */
    font-size: 24px; /* Adjust font size as needed */
    font-weight: bold;
  }
  